node_modules
*.session
/.aws
.DS_Store
/.vscode
/venv
package-lock.json
/frontend/maigret/reports
/mobileApp/linux
token.json
server.log
drive_token.json
Flowchart 1.jpg
Flowchart 2.jpg
*.png
/scraper/__pycache__
/scraper/.vercel
/scraper/.actor
/scraper/storage
/storage
/src/storage
instagram_log.json
9650593099_media.json
/screenshots_chat_1
/screenshots_chat_2
/screenshots_chat_3
/screenshots_chat_4
/screenshots_chat_5
/screenshots_chat_6
/screenshots_chat_7
/screenshots_chat_8
/screenshots_chat_9
/screenshots_chat_10
/screenshots_chat_11
/screenshots_chat_12
/screenshots_chat_13
/screenshots_chat_14
/screenshots_chat_15
/screenshots_chat_16
/screenshots_chat_17
/screenshots_chat_18
/screenshots_chat_19
/screenshots_chat_20
/instagram_session
*.pem
*.pub
*.key
